/* color pattern */
:root {
    --text-menu: rgb(255, 255, 255);
    --menu-hover: rgba(255, 255, 255, .5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    overflow: hidden;       
}

section {
    height: 100vh;
    width: 100%;
    /* scroll-snap-type: y mandatory; */
    /* animation: scrollAnimation 1s ease 0s forwards; */
}

/* section.active {
    animation: scrollAnimation 1s ease 0s forwards;
} */

.test {
    background-color: green;
}
/* Navigation */
.navigation-wrapper {
    display: flex;
    position: fixed;
    padding: auto 80px;
    color: var(--text-menu);
    height: 100vh;
    width: max-content;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
}

.navigation-wrapper svg.hb{
    max-width: 100%;
}

.menu-wrapper {
    padding:1vh ;
}

.menu-list {
    /* display: inline-block; */
    text-align: left;
    border-left: 1px solid rgba(255,255,255,.5);;
    list-style: none;
    z-index: 2;
    transform: translateX(-200%);
    transition: 0.8s;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 10px;
    margin-inline-end: 0px;
    padding-inline-start: 5px;
    padding-top: 1em;
}

.menu-list.slide {
    transform: translateX(0);
}

.menu-list li {
    padding: 0 0 20px 0;
    margin: 10px;
}

.menu-list a {
    display: block;
    color: var(--text-menu);
    text-decoration: none;
    font-size: 1em;
}

.menu-list a:hover {
    color: var(--menu-hover);
}

.menu-list li span::after {
    content: '';
    display: block;
    position: relative;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: red; /* Change this to the color you want for the underline */
    transition: width 0.8s ease-in-out;
}

.menu-list li span.active::after {
    width: 100%;    
}

.menu-list li span a {
    scale: 1;
    padding-left: 5px;
}


.menu-list li span.active a {
    scale: 1.2;

}

/* video background home setup */
.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}
/* Responsive breakpoint */
/* menu handphone */
@media screen and (max-width: 560px) {
    nav ul {
        background-image: linear-gradient(90deg, 
        rgba(0, 0, 0, 1) 10%,
        rgba(0, 0, 0, 0.9) 20%,
        rgba(0, 0, 0, 0.8) 30%, 
        rgba(0, 0, 0, 0.7) 40%,
        rgba(0, 0, 0, 0.6) 50%,
        rgba(0, 0, 0, 0.5) 60%, 
        rgba(0, 0, 0, 0.4) 70%, 
        rgba(0,0,0,0.005) 100%);
        width: 45%;
    }
    nav {
        height: 100vh;
    }
}

/* Animation */

@keyframes scrollAnimation {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    10% {
        opacity: 10;
        transform: translateY(90%);
    }

    20% {
        opacity: 20;
        transform: translateY(80%);
    }

    20% {
        opacity: 30;
        transform: translateY(70%);
    }

    100% {
        opacity: 100;
        transform: translateY(0);
    }
}

